<div class="row">
  <div class="col-sm-6">
    <%= link_to 'Add User', new_user_path, { remote: true, 'data-toggle':  'modal', 'data-target': '#modal-window',
                                             class: 'btn btn-primary mt-2 mb-3'}  %>
  </div>
  <div class="col-sm-6">
    <%= search_form_for @search do |f| %>
      <div class="input-group mt-2">
        <%= f.text_field :search_cont, placeholder: 'Name/Email/Phone', class: 'form-control' %>
        <div class="input-group-append">
          <%= f.submit 'Search', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content"></div>
  </div>
</div>

<table class="table table-dark table-striped table-hover">
  <thead>
  <tr>
    <th scope="col"><u><%= sort_link(@search, :updated_at, 'Last Updated', {}, class: 'text-white') %></u></th>
    <th scope="col"><u><%= sort_link(@search, :name, {}, class: 'text-white') %></u></th>
    <th scope="col"><u><%= sort_link(@search, :email, {}, class: 'text-white') %></u></th>
    <th scope="col"><u><%= sort_link(@search, :title, {}, class: 'text-white') %></u></th>
    <th scope="col"><u><%= sort_link(@search, :phone, {}, class: 'text-white') %></u></th>
    <th scope="col"><u><%= sort_link(@search, :status, {}, class: 'text-white') %></u></th>
    <th scope="col">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <%= render partial: 'row', locals: { user: user } %>
  <% end %>
  </tbody>
</table>

<%== pagy_bootstrap_nav(@pagy) %>
